@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Gelasio:500,600,700|Noto+Sans+KR:300,400,500,700&display=swap&subset=korean');

/* reset */
body {
	/* font:normal 12px 'Gelasio', serif, 'Noto Sans KR'; */
	font-family: 'Noto Sans KR', sans-serif, 'Gelasio', serif;
    line-height: 1.3;
    font-size: 15px;
	background-color:#fff;
	margin:0;
    padding:0;
    letter-spacing: 0px;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {list-style:none;}
img {border:0;}
a {text-decoration:none; color:#333;}
table {width: 100%; border-collapse: collapse;}
em {font-style: normal;}
i {font-style: normal;}
footer{ background: #f8f9fb;}


/* index */
.wrap {overflow: hidden;}
.title {display: inline-block; margin-bottom:30px; margin-right:5px; font-size:20px;}
.top {
	background: url('../images/나무.jpg') no-repeat 0 -600px;
	background-size: cover; padding: 50px; height: 600px; width:100%;}
.logo {text-align: center; border:1px solid #fde700; 
	border-radius: 50px; background: #fde700; width:60px; height:60px; 
	font-size: 35px; margin-bottom:30px; position: relative;
}
.logo > h4 {    
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translateX(-60%) translateY(-55%); }
.top > .text > strong {    
	text-align: left;
    font-size: 60px;
    letter-spacing: -3px;
    line-height: 60px;}
.top > .text > span {display: block; margin-top:100px; position: relative; color:#fde700;}
.top > .text > span::before {content: ''; position: absolute; bottom:-10px; left:0; background:#fde700; width:70px; height: 4px;}
.sentence {max-width:1200px; margin: 50px auto;}
.sentence > h3 {font-size: 30px; text-align: right;}
.intro {max-width:1200px; margin: 0 auto 50px;}
.intro > ol > li + li {margin-top:10px;}
.intro > ol > .border {border-bottom:2px solid #e4e4e4; padding-bottom:20px; margin-bottom:20px;}
.intro > ol > li:last-child > strong {display: block; margin-bottom:10px;}
.main {margin:50px 0;}
.main > div > span:nth-child(2) {font-size:13px; color:#999; vertical-align: text-top;}
.intro > span:nth-child(3) {display: block;}
.skill {background: #fde700;}
.skill_wrap {max-width:1200px; margin: 50px auto;}
.skill_wrap > ul {padding:30px 0;}
.skill_wrap > ul::after {display: block; content: ''; clear: left;}
.skill_wrap > ul > li {width:200px; float: left; color:rgba(0, 0, 0, 0.4); text-align: center; font-size:20px; position: relative;}
.skill_wrap > ul > li + li::before {content: ''; position:absolute; top:10px; left:0; width:5px; height:5px; background:white; display: block;}
.skill_wrap > ul > li > strong {display: block; margin-bottom:15px;}
.skill_wrap > ul > li > img {width:100px;}
.site {max-width:1200px; margin: 50px auto;}
.site > ul::after {content: ''; display: block; clear: left;}
.site > ul > li {width: 285px; float: left; border-radius: 170px; position: relative;}
.site > ul > li + li {margin-left:20px;}
.site > ul > li:nth-child(1) {background: url('../hyndai_global/images/m_mainVis_bg.jpg') 0 -530px no-repeat;}
.site > ul > li:nth-child(2) {background: url('../aict/images/slider2.jpg') no-repeat -1570px -63px;}
.site > ul > li:nth-child(3) {background: url('../navercorp/images/img_main_slide4.jpg');}
.site > ul > li:nth-child(4) {background:#e4e4e4; pointer-events: none;}
.site > ul > li > a {width:285px; height:295px; display: block; border-radius: 150px;}
.site > ul > li > a:hover {background: rgba(0, 0, 0, 0.2);}
.site > ul > li > a > span {position: absolute; top:50%; left:50%; 
	transform: translate(-50%, -50%); font-size: 80px; color:white;
	font-weight: 800;}

/* footer */

.footer_wrap {max-width: 1200px; height: 150px; margin:0 auto; position: relative; overflow: hidden;}
.footer_wrap::after {content: ''; display: block; clear: both;}
.footer_wrap > strong {width:33.3333%; float: left; font-size: 40px; padding:50px 0;}
.footer_wrap > .left {padding:50px 0; float: left;}
.footer_wrap > .left > * {display: block; position: relative;}
.footer_wrap > .logo {margin:0; position: absolute; top:50%; right:0; transform: translateY(-50%);}

@media screen and (min-width:320px) and (max-width: 1000px) {
	.top {width: 100%; background:url('../images/나무.jpg') no-repeat 0 0;}
	.sentence {padding: 0 51px}
	.intro {padding: 0 30px;}
	.title {margin-bottom:15px;}
	.main > div > span:nth-child(2) {display: block; margin-bottom:20px;}
	.intro > ol > li > * {display: block;}
	.skill_wrap > ul > li {width:50%}
	.skill_wrap > ul > li > img {width:30%;}
	.skill_wrap > ul > li + li::before {display: none;}
	.skill_wrap > ul > li:nth-child(2n)::before {content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 5px;
		height: 5px;
		background: white;
		display: block;}
	.site {padding: 0 30px}
	.site > ul > li {width:calc(50% - 5px); height:100%;}
	.site > ul > li > a {height: 155px; width:100%;}
	.site > ul > li + li {margin:0;}
	.site > ul > li:nth-child(2n) {margin-left:10px;}
	.site > ul > li:nth-child(3), .site > ul > li:nth-child(4) {margin-top:10px;}
	.footer_wrap {padding: 0 30px;}
	.footer_wrap > .logo {right:30px;}
	.footer_wrap > strong {font-size: 20px; width:22%;}
	.site > ul > li > a > span {font-size: 50px;}
	.footer_wrap > .left {font-size: 13px;}
}